<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyPAwnflCFCrl5r5A9qsVSdYJSzVP5pU8</string>
	<key>GCM_SENDER_ID</key>
	<string>932755574962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.gambling</string>
	<key>PROJECT_ID</key>
	<string>gambling-seocn4</string>
	<key>STORAGE_BUCKET</key>
	<string>gambling-seocn4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932755574962:ios:d280e73f11c61fd7beb9ab</string>
</dict>
</plist>